@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.ht {
  font-size: 4rem;
  font-weight: bold;
  color: #16a34a;
}

.error-msg {
  color: red;
  font-size: .75rem;
  position: absolute;
  bottom: -16px;
  
}


input[type='text'], input[type='password'] {
  padding: 8px;
  width: 100%;
}