@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --modalbg: #e2e8f0;
  --labelC: #334155;
  --arrowSize: 7px;
  --errorBg: #ef4444;
  --headerHeight: 60px;
  
  --roundedR: 4px;
  --dashBtnhover: #f8fafc;
  
  --ttBorderC: #94a3b8;
  --ttactiveC: #e2e8f0;

  --DashboardBGC: white;
  --dashbgC: #e2e8f0;
  --dashbContentBg: white;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}



@keyframes pulse {
  25% {
    transform:scale(1.1);
  }
  75% {
    transform: scale(.9)
  }
}

/* button:hover {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
} */

.home-grid {
  display: grid;
  grid-template-rows: 85fr 15fr;
  height: 100vh;
}

.h-footer {
  margin: 0 auto;
}

.login-wrap, .h-footer {
  max-width: 800px;
  width: 100%;
}

.login-cont {
  max-width: 400px;

}

.ht {
  font-size: 4rem;
  font-weight: bold;
  color: #16a34a;
}

.hh {
  z-index: 10;
  height:var(--headerHeight);
  justify-content: space-between;

}

.bc {
  margin-top:var(--headerHeight);
  background-color: var(--dashbgC);
  flex: 1;
}

.head-btn {
  padding: .5rem 1rem;
  border-radius: var(--roundedR);
  
}

.head-btn:hover {
  background-color: #e2e8f0;
}

.header-modal {
  position: absolute;
  
  right:0;
  border-radius: 4px;
  background-color: white;
  

}

.header-modal > li {
  padding:.5rem;
}

.hm-btn {
  text-wrap: nowrap;
}

.error-msg {
  color: red;
  font-size: .75rem;
  position: absolute;
  bottom: -16px;
  
}

.signup-error.arr-right {
  position: absolute;
  right:calc(100% + 10px);
  top:0;
  font-size: small;
  color: white;
  background-color: var(--errorBg);
  border-radius: var(--roundedR);
  padding: 4px;
  z-index: 1;
  
  text-wrap: nowrap;
  
  
}

.signup-error.arr-left {
  position: absolute;
  right:-110%;
  top:0;
  font-size: small;
  color: white;
  background-color: var(--errorBg);
  border-radius: var(--roundedR);
  padding: 4px;
  z-index: 1;
  text-align: center;
  transform:translateX(-50%);
  
  
}

.signup-error.arr-right:before {
  position:absolute;
  top:4px;
  left: calc(100% - 2px);
  content: '';
  border-top:8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid var(--errorBg);
  z-index: 0;
  
}

.signup-error.arr-left:before {
  position:absolute;
  top:4px;
  right: calc(100% - 2px);
  content: '';
  border-top:8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid var(--errorBg);
  z-index: 0;
}

.overlay {
  position: fixed;
  left:0;
  top:0;
  background-color: rgba(255, 255, 255, .8);
  z-index: 2;
  width: 100%;
  height:100%;

  opacity:0;
  transition: opacity 0.3s linear;
  visibility: hidden;


}

.overlay-inner {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, .8);
  width: 100%;
  height: 100%;

}



.active {
  opacity:1;
  visibility: visible;
  transition: all 0.25s linear;
}

.inactive {
  opacity: 0;
  transition: all 0.3s linear;
  visibility: hidden;
}


.modal-i {
  border-radius: 8px;
  background-color: var(--modalbg)
}

.modal-i:focus {
  outline: none;
}

.close-b {
  position: absolute;
  top: 0;
  right: 0;
}

input[type='text'], input[type='password'], input[type='email'] {
  padding: 8px;
  width: 100%;
  outline: none;
  
}

.form-label {
  color: var(--labelC)
}

.db-g-cont {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}


.dashb-l-side {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
}

.dashb-l-side > li {
  
  display: flex;
}

.dashb-l-side > li > button:hover {
  background-color: var(--dashBtnhover);
}

.l-side.selected {
  background-color:var(--dashBtnhover)
}

.dashb-l-side > li > button {
  padding: .5rem 1rem;
  border-radius: var(--roundedR);
}

.dashb-mid-block {
  max-width: 1000px;
  padding: 1rem;
  min-width: 0;
  
}

.suggest-af-btn {
  background-color: #e0f2fe;

}

.suggest-v-btn {
  background-color: #d1fae5;
}

.suggest-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap:0.5rem;
}

.tt-cont {
  background-color: var(--dashbContentBg);
  border: 2px solid #64748b;
}

.tt-menu > button {
  border-radius: .25rem;
}
.tt-menu > div, .tt-menu > label {
  display: flex;
  align-items: center;
}

.tt-active {
  background-color: var(--ttactiveC);
}

.ProseMirror {
  
  
  
}

.pfp-cont {
  position: relative;
  min-width:125px;
  min-height:125px;
}

.up-cont {
  max-width: 128px;
}

.icon-cont {
  border-radius: 50%;
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  fill:currentColor;
}

li > button {
  width: 100%;
}

.header-li {
  height: 100%;
  display: flex;
  border-bottom: 2px solid transparent;
}

.header-li.selected {
  border-color: blue;
  color: blue;
  pointer-events: none;
}

.expanded {
  overflow: none;
  max-height: none;
  padding: .75rem;
}

.expanded-false > div {
  overflow-y:hidden;
  min-height: 5rem;
  max-height: 7rem;
  padding: .75rem;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: gray;
}

.ProseMirror:focus-visible{
  outline: none;
}

.ProseMirror-selectednode {
  outline: 3px solid #68cef8;
}

.tt-link-input {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  border: 2px solid;
  border-radius: 3px;
  min-width: 300px;
  background-color: white;
  z-index: 2;
  padding: 8px;
  gap: 5px;

}

.tt-editor {
  min-height: 5rem;
  max-height: 7rem;
  padding: .75rem;
}

.tiptap {
  font-size: .9rem;
}

.tiptap a {
  color: #68cef8;
}

.tiptap ul {
  list-style-type: disc;
  padding: 0 1rem;
}

.tiptap ul > li {
  display: list-item;
}

.tiptap ol {
  padding: 0 1rem;
  list-style: decimal;
}

.tiptap a:hover {
  cursor: pointer;
}

.tiptap > blockquote {
  border-left: 3px solid #0d0d0d;
  padding-left: 1rem

}

.tiptap > p >  code {
  background-color: #616161;
  border-radius: 0.25em;
  box-decoration-break: clone;
  font-size: .9rem;
  padding: 0.25rem;
  color: white;
}

.tt-link-input > button {
  padding:3px;
}

.tt-link-input > input:focus {
  outline: none;
}


.post-cont {
  background-color: var(--dashbContentBg);
}

.date-txt {
  color: gray;
  font-size: .75rem;
}

.dash-head {
  background-color: var(--DashboardBGC);
}


/* @media screen and (max-width: 1024px) {
  .signup-error.arr-right, .signup-error.arr-left {
    text-wrap: wrap;
  }
} */